li{
    list-style-type: none;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 101px;
}
body{
    margin: 0;
}
.wrap{
    margin: 0 0;   
    height: 600px;
    display: block;
    z-index: 5;
}
.wt{
    display: none;
    z-index: 1;
}
#w0{
    background: url(../image/0.png) no-repeat;
    background-size: 1350px 600px;
}
#w1{
    background: url(../image/1.png) no-repeat;
    background-size: 1350px 600px;
}
#w2{
    background: url(../image/2.png) no-repeat;
    background-size: 1350px 600px;
}
#w3{
    background: url(../image/3.png) no-repeat;
    background-size: 1350px 600px;
}

.title{
    display: block;
    padding-left: 600px;
    padding-top: 210px;
    font-family: Cambria,Georgia,serif;
    font-size: 72px;
    color: #554236;
}
.t1{
    padding-left: 505px;
    color: #91989F;
}
.t2{
    padding-left: 575px;
    color: #3A8FB7;
}
.t3{
    padding-left: 560px;
    color: #F19483;
}

.pic{
    position: absolute;
    float: left;
    margin-top: 130px;
    margin-left: 200px;
}
.pic li{
    float: left;
    margin-left: 50px; 
}
.pic .pt{
    opacity: 0.4;
}
.pic .pn{
    opacity: 1;
}

#prev,#next{
    margin-top: -145px;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 20;
    cursor: pointer;
    opacity: 0.4;
}
#prev{
    left: 120px;
}
#next{
    right: 120px;
}
#prev:hover,#next:hover{
    opacity: 1;
}